ConnectionStrings:EventQueueStorage=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=scicoriabackuptarget;AccountKey=<redacted>
ConnectionStrings:SourceBlobStorage=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=scicoriabackupsrc;AccountKey=<redacted>
ConnectionStrings:BackupTableStorage=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=scicoriabackuptarget;AccountKey=<redacted>
ConnectionStrings:BackupBlobStorage=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=scicoriabackuptarget;AccountKey=<redacted>
Serilog:WriteTo:0:Args:connectionString=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=scicoriabackuptarget;AccountKey=<redacted>